<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<div class="section-header-box">
<h1><span class="title">{{ .Title }}</span></h1>
{{ with .Page.Params.subtitle }}<p class="subtitle">{{ . }}</p><br> {{ end }}
</div>

<main>
  {{ .Content }}
  {{ $hub_directory := .File.Dir }}
  <ul>
  {{ range .Site.Pages }}{{ if hasPrefix .File.Dir $hub_directory }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}{{ end }}
  </ul>
</main>

{{ partial "footer.html" . }}
</body>
</html>