<!--Inserts a figure intended for a chess diagram.
The div will contain the diagram, which will be drawn by other means (JS).

Usage of fen-diag:
variant="atomic" // specifies the chess variant, and thus class of the divs
fen="[insert FEN here]"
caption="Text to appear under image" // optional
flip="true" // optional; really only needs nonempty value to set as true
diag-type="variation" // optional; defined in .js files

-->
<figure class="diag-{{.Get "variant"}}">
  <div class="diag-{{.Get "variant"}}-cnv-wrapper" data-fen="{{.Get "fen"}}"{{ if ((.Get "flip") | ne "") }} data-flip{{ end }}{{ if ((.Get "diag-type") | ne "") }} data-diag-type="{{.Get "diag-type"}}"{{ end }}></div>
  <figcaption>
    {{ if ((.Get "caption") | ne "") }}{{.Get "caption"}}<br>{{ end }}
    {{ if ((.Get "provenance") | ne "") }}<b>{{.Get "provenance"}}</b><br>{{ end }}
    (FEN: {{.Get "fen"}})
  </figcaption>
</figure>
